.vscode
bin/Debug/net5.0/testcs
bin/Debug/net5.0/testcs.deps.json
bin/Debug/net5.0/testcs.dll
bin/Debug/net5.0/testcs.pdb
bin/Debug/net5.0/testcs.runtimeconfig.dev.json
bin/Debug/net5.0/testcs.runtimeconfig.json
bin/Debug/net5.0/ref/testcs.dll
obj/project.assets.json
obj/project.nuget.cache
obj/testcs.csproj.nuget.dgspec.json
obj/testcs.csproj.nuget.g.props
obj/testcs.csproj.nuget.g.targets
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/apphost
obj/Debug/net5.0/testcs.AssemblyInfo.cs
obj/Debug/net5.0/testcs.AssemblyInfoInputs.cache
obj/Debug/net5.0/testcs.assets.cache
obj/Debug/net5.0/testcs.csproj.AssemblyReference.cache
obj/Debug/net5.0/testcs.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/testcs.csproj.FileListAbsolute.txt
obj/Debug/net5.0/testcs.csprojAssemblyReference.cache
obj/Debug/net5.0/testcs.dll
obj/Debug/net5.0/testcs.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/testcs.genruntimeconfig.cache
obj/Debug/net5.0/testcs.pdb
obj/Debug/net5.0/ref/testcs.dll
.vimspector.json
Exercises/Arrays_and_Lists/obj/Arrays_and_Lists.csproj.nuget.dgspec.json
Exercises/Arrays_and_Lists/obj/Arrays_and_Lists.csproj.nuget.g.props
Exercises/Arrays_and_Lists/obj/Arrays_and_Lists.csproj.nuget.g.targets
Exercises/Arrays_and_Lists/obj/project.assets.json
Exercises/Arrays_and_Lists/obj/project.nuget.cache
Exercises/Arrays_and_Lists/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Exercises/Arrays_and_Lists/obj/Debug/net5.0/Arrays_and_Lists.AssemblyInfo.cs
Exercises/Arrays_and_Lists/obj/Debug/net5.0/Arrays_and_Lists.AssemblyInfoInputs.cache
Exercises/Arrays_and_Lists/obj/Debug/net5.0/Arrays_and_Lists.assets.cache
Exercises/Arrays_and_Lists/obj/Debug/net5.0/Arrays_and_Lists.csproj.AssemblyReference.cache
Exercises/Arrays_and_Lists/obj/Debug/net5.0/Arrays_and_Lists.GeneratedMSBuildEditorConfig.editorconfig
