.vimspector.json
scratchpad/bin/Debug/net5.0/scratchpad
scratchpad/bin/Debug/net5.0/scratchpad.deps.json
scratchpad/bin/Debug/net5.0/scratchpad.dll
scratchpad/bin/Debug/net5.0/scratchpad.pdb
scratchpad/bin/Debug/net5.0/scratchpad.runtimeconfig.dev.json
scratchpad/bin/Debug/net5.0/scratchpad.runtimeconfig.json
scratchpad/bin/Debug/net5.0/ref/scratchpad.dll
scratchpad/obj/project.assets.json
scratchpad/obj/project.nuget.cache
scratchpad/obj/scratchpad.csproj.nuget.dgspec.json
scratchpad/obj/scratchpad.csproj.nuget.g.props
scratchpad/obj/scratchpad.csproj.nuget.g.targets
scratchpad/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
scratchpad/obj/Debug/net5.0/apphost
scratchpad/obj/Debug/net5.0/scratchpad.AssemblyInfo.cs
scratchpad/obj/Debug/net5.0/scratchpad.AssemblyInfoInputs.cache
scratchpad/obj/Debug/net5.0/scratchpad.assets.cache
scratchpad/obj/Debug/net5.0/scratchpad.csproj.AssemblyReference.cache
scratchpad/obj/Debug/net5.0/scratchpad.csproj.CoreCompileInputs.cache
scratchpad/obj/Debug/net5.0/scratchpad.csproj.FileListAbsolute.txt
scratchpad/obj/Debug/net5.0/scratchpad.csprojAssemblyReference.cache
scratchpad/obj/Debug/net5.0/scratchpad.dll
scratchpad/obj/Debug/net5.0/scratchpad.GeneratedMSBuildEditorConfig.editorconfig
scratchpad/obj/Debug/net5.0/scratchpad.genruntimeconfig.cache
scratchpad/obj/Debug/net5.0/scratchpad.pdb
scratchpad/obj/Debug/net5.0/ref/scratchpad.dll
scratchpad/scratchpad.csproj
CSharpIntermediateCourse/Section2/Properties/Properties.csproj
CSharpIntermediateCourse/Section2/Properties/obj/project.assets.json
CSharpIntermediateCourse/Section2/Properties/obj/project.nuget.cache
CSharpIntermediateCourse/Section2/Properties/obj/Properties.csproj.nuget.dgspec.json
CSharpIntermediateCourse/Section2/Properties/obj/Properties.csproj.nuget.g.props
CSharpIntermediateCourse/Section2/Properties/obj/Properties.csproj.nuget.g.targets
CSharpIntermediateCourse/Section2/Properties/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
CSharpIntermediateCourse/Section2/Properties/obj/Debug/net5.0/apphost
CSharpIntermediateCourse/Section2/Properties/obj/Debug/net5.0/Properties.AssemblyInfo.cs
CSharpIntermediateCourse/Section2/Properties/obj/Debug/net5.0/Properties.AssemblyInfoInputs.cache
CSharpIntermediateCourse/Section2/Properties/obj/Debug/net5.0/Properties.assets.cache
CSharpIntermediateCourse/Section2/Properties/obj/Debug/net5.0/Properties.csproj.AssemblyReference.cache
CSharpIntermediateCourse/Section2/Properties/obj/Debug/net5.0/Properties.csproj.CoreCompileInputs.cache
CSharpIntermediateCourse/Section2/Properties/obj/Debug/net5.0/Properties.csproj.FileListAbsolute.txt
CSharpIntermediateCourse/Section2/Properties/obj/Debug/net5.0/Properties.csprojAssemblyReference.cache
CSharpIntermediateCourse/Section2/Properties/obj/Debug/net5.0/Properties.dll
CSharpIntermediateCourse/Section2/Properties/obj/Debug/net5.0/Properties.GeneratedMSBuildEditorConfig.editorconfig
CSharpIntermediateCourse/Section2/Properties/obj/Debug/net5.0/Properties.genruntimeconfig.cache
CSharpIntermediateCourse/Section2/Properties/obj/Debug/net5.0/Properties.pdb
CSharpIntermediateCourse/Section2/Properties/obj/Debug/net5.0/ref/Properties.dll
CSharpIntermediateCourse/Section2/Properties/bin/Debug/net5.0/Properties
CSharpIntermediateCourse/Section2/Properties/bin/Debug/net5.0/Properties.deps.json
CSharpIntermediateCourse/Section2/Properties/bin/Debug/net5.0/Properties.dll
CSharpIntermediateCourse/Section2/Properties/bin/Debug/net5.0/Properties.pdb
CSharpIntermediateCourse/Section2/Properties/bin/Debug/net5.0/Properties.runtimeconfig.dev.json
CSharpIntermediateCourse/Section2/Properties/bin/Debug/net5.0/Properties.runtimeconfig.json
CSharpIntermediateCourse/Section2/Properties/bin/Debug/net5.0/ref/Properties.dll
CSharpIntermediateCourse/Section2/Properties/.vscode/launch.json
CSharpIntermediateCourse/Section2/Properties/.vscode/tasks.json
CSharpIntermediateCourse/Section2/Methods/Methods.csproj
CSharpIntermediateCourse/Section2/Methods/obj/Methods.csproj.nuget.dgspec.json
CSharpIntermediateCourse/Section2/Methods/obj/Methods.csproj.nuget.g.props
CSharpIntermediateCourse/Section2/Methods/obj/Methods.csproj.nuget.g.targets
CSharpIntermediateCourse/Section2/Methods/obj/project.assets.json
CSharpIntermediateCourse/Section2/Methods/obj/project.nuget.cache
CSharpIntermediateCourse/Section2/Methods/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
CSharpIntermediateCourse/Section2/Methods/obj/Debug/net5.0/apphost
CSharpIntermediateCourse/Section2/Methods/obj/Debug/net5.0/Methods.AssemblyInfo.cs
CSharpIntermediateCourse/Section2/Methods/obj/Debug/net5.0/Methods.AssemblyInfoInputs.cache
CSharpIntermediateCourse/Section2/Methods/obj/Debug/net5.0/Methods.assets.cache
CSharpIntermediateCourse/Section2/Methods/obj/Debug/net5.0/Methods.csproj.AssemblyReference.cache
CSharpIntermediateCourse/Section2/Methods/obj/Debug/net5.0/Methods.csproj.CoreCompileInputs.cache
CSharpIntermediateCourse/Section2/Methods/obj/Debug/net5.0/Methods.csproj.FileListAbsolute.txt
CSharpIntermediateCourse/Section2/Methods/obj/Debug/net5.0/Methods.csprojAssemblyReference.cache
CSharpIntermediateCourse/Section2/Methods/obj/Debug/net5.0/Methods.dll
CSharpIntermediateCourse/Section2/Methods/obj/Debug/net5.0/Methods.GeneratedMSBuildEditorConfig.editorconfig
CSharpIntermediateCourse/Section2/Methods/obj/Debug/net5.0/Methods.genruntimeconfig.cache
CSharpIntermediateCourse/Section2/Methods/obj/Debug/net5.0/Methods.pdb
CSharpIntermediateCourse/Section2/Methods/obj/Debug/net5.0/ref/Methods.dll
CSharpIntermediateCourse/Section2/Methods/bin/Debug/net5.0/Methods
CSharpIntermediateCourse/Section2/Methods/bin/Debug/net5.0/Methods.deps.json
CSharpIntermediateCourse/Section2/Methods/bin/Debug/net5.0/Methods.dll
CSharpIntermediateCourse/Section2/Methods/bin/Debug/net5.0/Methods.pdb
CSharpIntermediateCourse/Section2/Methods/bin/Debug/net5.0/Methods.runtimeconfig.dev.json
CSharpIntermediateCourse/Section2/Methods/bin/Debug/net5.0/Methods.runtimeconfig.json
CSharpIntermediateCourse/Section2/Methods/bin/Debug/net5.0/ref/Methods.dll
CSharpIntermediateCourse/Section2/Methods/.vscode/launch.json
CSharpIntermediateCourse/Section2/Methods/.vscode/tasks.json
CSharpIntermediateCourse/Section2/Indexers/Indexers.csproj
CSharpIntermediateCourse/Section2/Indexers/bin/Debug/net5.0/Indexers
CSharpIntermediateCourse/Section2/Indexers/bin/Debug/net5.0/Indexers.deps.json
CSharpIntermediateCourse/Section2/Indexers/bin/Debug/net5.0/Indexers.dll
CSharpIntermediateCourse/Section2/Indexers/bin/Debug/net5.0/Indexers.pdb
CSharpIntermediateCourse/Section2/Indexers/bin/Debug/net5.0/Indexers.runtimeconfig.dev.json
CSharpIntermediateCourse/Section2/Indexers/bin/Debug/net5.0/Indexers.runtimeconfig.json
CSharpIntermediateCourse/Section2/Indexers/bin/Debug/net5.0/ref/Indexers.dll
CSharpIntermediateCourse/Section2/Indexers/.vscode/launch.json
CSharpIntermediateCourse/Section2/Indexers/.vscode/tasks.json
CSharpIntermediateCourse/Section2/Indexers/obj/Indexers.csproj.nuget.dgspec.json
CSharpIntermediateCourse/Section2/Indexers/obj/Indexers.csproj.nuget.g.props
CSharpIntermediateCourse/Section2/Indexers/obj/Indexers.csproj.nuget.g.targets
CSharpIntermediateCourse/Section2/Indexers/obj/project.assets.json
CSharpIntermediateCourse/Section2/Indexers/obj/project.nuget.cache
CSharpIntermediateCourse/Section2/Indexers/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
CSharpIntermediateCourse/Section2/Indexers/obj/Debug/net5.0/apphost
CSharpIntermediateCourse/Section2/Indexers/obj/Debug/net5.0/Indexers.AssemblyInfo.cs
CSharpIntermediateCourse/Section2/Indexers/obj/Debug/net5.0/Indexers.AssemblyInfoInputs.cache
CSharpIntermediateCourse/Section2/Indexers/obj/Debug/net5.0/Indexers.assets.cache
CSharpIntermediateCourse/Section2/Indexers/obj/Debug/net5.0/Indexers.csproj.AssemblyReference.cache
CSharpIntermediateCourse/Section2/Indexers/obj/Debug/net5.0/Indexers.csproj.CoreCompileInputs.cache
CSharpIntermediateCourse/Section2/Indexers/obj/Debug/net5.0/Indexers.csproj.FileListAbsolute.txt
CSharpIntermediateCourse/Section2/Indexers/obj/Debug/net5.0/Indexers.csprojAssemblyReference.cache
CSharpIntermediateCourse/Section2/Indexers/obj/Debug/net5.0/Indexers.dll
CSharpIntermediateCourse/Section2/Indexers/obj/Debug/net5.0/Indexers.GeneratedMSBuildEditorConfig.editorconfig
CSharpIntermediateCourse/Section2/Indexers/obj/Debug/net5.0/Indexers.genruntimeconfig.cache
CSharpIntermediateCourse/Section2/Indexers/obj/Debug/net5.0/Indexers.pdb
CSharpIntermediateCourse/Section2/Indexers/obj/Debug/net5.0/ref/Indexers.dll
CSharpIntermediateCourse/Section2/Fields/Fields.csproj
CSharpIntermediateCourse/Section2/Fields/obj/Fields.csproj.nuget.dgspec.json
CSharpIntermediateCourse/Section2/Fields/obj/Fields.csproj.nuget.g.props
CSharpIntermediateCourse/Section2/Fields/obj/Fields.csproj.nuget.g.targets
CSharpIntermediateCourse/Section2/Fields/obj/project.assets.json
CSharpIntermediateCourse/Section2/Fields/obj/project.nuget.cache
CSharpIntermediateCourse/Section2/Fields/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
CSharpIntermediateCourse/Section2/Fields/obj/Debug/net5.0/apphost
CSharpIntermediateCourse/Section2/Fields/obj/Debug/net5.0/Fields.AssemblyInfo.cs
CSharpIntermediateCourse/Section2/Fields/obj/Debug/net5.0/Fields.AssemblyInfoInputs.cache
CSharpIntermediateCourse/Section2/Fields/obj/Debug/net5.0/Fields.assets.cache
CSharpIntermediateCourse/Section2/Fields/obj/Debug/net5.0/Fields.csproj.AssemblyReference.cache
CSharpIntermediateCourse/Section2/Fields/obj/Debug/net5.0/Fields.csproj.CoreCompileInputs.cache
CSharpIntermediateCourse/Section2/Fields/obj/Debug/net5.0/Fields.csproj.FileListAbsolute.txt
CSharpIntermediateCourse/Section2/Fields/obj/Debug/net5.0/Fields.csprojAssemblyReference.cache
CSharpIntermediateCourse/Section2/Fields/obj/Debug/net5.0/Fields.dll
CSharpIntermediateCourse/Section2/Fields/obj/Debug/net5.0/Fields.GeneratedMSBuildEditorConfig.editorconfig
CSharpIntermediateCourse/Section2/Fields/obj/Debug/net5.0/Fields.genruntimeconfig.cache
CSharpIntermediateCourse/Section2/Fields/obj/Debug/net5.0/Fields.pdb
CSharpIntermediateCourse/Section2/Fields/obj/Debug/net5.0/ref/Fields.dll
CSharpIntermediateCourse/Section2/Fields/bin/Debug/net5.0/Fields
CSharpIntermediateCourse/Section2/Fields/bin/Debug/net5.0/Fields.deps.json
CSharpIntermediateCourse/Section2/Fields/bin/Debug/net5.0/Fields.dll
CSharpIntermediateCourse/Section2/Fields/bin/Debug/net5.0/Fields.pdb
CSharpIntermediateCourse/Section2/Fields/bin/Debug/net5.0/Fields.runtimeconfig.dev.json
CSharpIntermediateCourse/Section2/Fields/bin/Debug/net5.0/Fields.runtimeconfig.json
CSharpIntermediateCourse/Section2/Fields/bin/Debug/net5.0/ref/Fields.dll
CSharpIntermediateCourse/Section2/Fields/.vscode/launch.json
CSharpIntermediateCourse/Section2/Fields/.vscode/tasks.json
CSharpIntermediateCourse/Section2/Exercise1/Exercise1.csproj
CSharpIntermediateCourse/Section2/Exercise1/obj/Exercise1.csproj.nuget.dgspec.json
CSharpIntermediateCourse/Section2/Exercise1/obj/Exercise1.csproj.nuget.g.props
CSharpIntermediateCourse/Section2/Exercise1/obj/Exercise1.csproj.nuget.g.targets
CSharpIntermediateCourse/Section2/Exercise1/obj/project.assets.json
CSharpIntermediateCourse/Section2/Exercise1/obj/project.nuget.cache
CSharpIntermediateCourse/Section2/Exercise1/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
CSharpIntermediateCourse/Section2/Exercise1/obj/Debug/net5.0/apphost
CSharpIntermediateCourse/Section2/Exercise1/obj/Debug/net5.0/Exercise1.AssemblyInfo.cs
CSharpIntermediateCourse/Section2/Exercise1/obj/Debug/net5.0/Exercise1.AssemblyInfoInputs.cache
CSharpIntermediateCourse/Section2/Exercise1/obj/Debug/net5.0/Exercise1.assets.cache
CSharpIntermediateCourse/Section2/Exercise1/obj/Debug/net5.0/Exercise1.csproj.AssemblyReference.cache
CSharpIntermediateCourse/Section2/Exercise1/obj/Debug/net5.0/Exercise1.csproj.CoreCompileInputs.cache
CSharpIntermediateCourse/Section2/Exercise1/obj/Debug/net5.0/Exercise1.csproj.FileListAbsolute.txt
CSharpIntermediateCourse/Section2/Exercise1/obj/Debug/net5.0/Exercise1.csprojAssemblyReference.cache
CSharpIntermediateCourse/Section2/Exercise1/obj/Debug/net5.0/Exercise1.dll
CSharpIntermediateCourse/Section2/Exercise1/obj/Debug/net5.0/Exercise1.GeneratedMSBuildEditorConfig.editorconfig
CSharpIntermediateCourse/Section2/Exercise1/obj/Debug/net5.0/Exercise1.genruntimeconfig.cache
CSharpIntermediateCourse/Section2/Exercise1/obj/Debug/net5.0/Exercise1.pdb
CSharpIntermediateCourse/Section2/Exercise1/obj/Debug/net5.0/ref/Exercise1.dll
CSharpIntermediateCourse/Section2/Exercise1/bin/Debug/net5.0/Exercise1
CSharpIntermediateCourse/Section2/Exercise1/bin/Debug/net5.0/Exercise1.deps.json
CSharpIntermediateCourse/Section2/Exercise1/bin/Debug/net5.0/Exercise1.dll
CSharpIntermediateCourse/Section2/Exercise1/bin/Debug/net5.0/Exercise1.pdb
CSharpIntermediateCourse/Section2/Exercise1/bin/Debug/net5.0/Exercise1.runtimeconfig.dev.json
CSharpIntermediateCourse/Section2/Exercise1/bin/Debug/net5.0/Exercise1.runtimeconfig.json
CSharpIntermediateCourse/Section2/Exercise1/bin/Debug/net5.0/ref/Exercise1.dll
CSharpIntermediateCourse/Section2/Exercise1/.vscode/launch.json
CSharpIntermediateCourse/Section2/Exercise1/.vscode/tasks.json
CSharpIntermediateCourse/Section2/Classes/Exercise1/Exercise1.csproj
CSharpIntermediateCourse/Section2/Classes/Exercise1/obj/Exercise1.csproj.nuget.dgspec.json
CSharpIntermediateCourse/Section2/Classes/Exercise1/obj/Exercise1.csproj.nuget.g.props
CSharpIntermediateCourse/Section2/Classes/Exercise1/obj/Exercise1.csproj.nuget.g.targets
CSharpIntermediateCourse/Section2/Classes/Exercise1/obj/project.assets.json
CSharpIntermediateCourse/Section2/Classes/Exercise1/obj/project.nuget.cache
CSharpIntermediateCourse/Section2/Classes/Exercise1/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
CSharpIntermediateCourse/Section2/Classes/Exercise1/obj/Debug/net5.0/apphost
CSharpIntermediateCourse/Section2/Classes/Exercise1/obj/Debug/net5.0/Exercise1.AssemblyInfo.cs
CSharpIntermediateCourse/Section2/Classes/Exercise1/obj/Debug/net5.0/Exercise1.AssemblyInfoInputs.cache
CSharpIntermediateCourse/Section2/Classes/Exercise1/obj/Debug/net5.0/Exercise1.assets.cache
CSharpIntermediateCourse/Section2/Classes/Exercise1/obj/Debug/net5.0/Exercise1.csproj.AssemblyReference.cache
CSharpIntermediateCourse/Section2/Classes/Exercise1/obj/Debug/net5.0/Exercise1.csproj.CoreCompileInputs.cache
CSharpIntermediateCourse/Section2/Classes/Exercise1/obj/Debug/net5.0/Exercise1.csproj.FileListAbsolute.txt
CSharpIntermediateCourse/Section2/Classes/Exercise1/obj/Debug/net5.0/Exercise1.csprojAssemblyReference.cache
CSharpIntermediateCourse/Section2/Classes/Exercise1/obj/Debug/net5.0/Exercise1.dll
CSharpIntermediateCourse/Section2/Classes/Exercise1/obj/Debug/net5.0/Exercise1.GeneratedMSBuildEditorConfig.editorconfig
CSharpIntermediateCourse/Section2/Classes/Exercise1/obj/Debug/net5.0/Exercise1.genruntimeconfig.cache
CSharpIntermediateCourse/Section2/Classes/Exercise1/obj/Debug/net5.0/Exercise1.pdb
CSharpIntermediateCourse/Section2/Classes/Exercise1/obj/Debug/net5.0/ref/Exercise1.dll
CSharpIntermediateCourse/Section2/Classes/Exercise1/bin/Debug/net5.0/Exercise1
CSharpIntermediateCourse/Section2/Classes/Exercise1/bin/Debug/net5.0/Exercise1.deps.json
CSharpIntermediateCourse/Section2/Classes/Exercise1/bin/Debug/net5.0/Exercise1.dll
CSharpIntermediateCourse/Section2/Classes/Exercise1/bin/Debug/net5.0/Exercise1.pdb
CSharpIntermediateCourse/Section2/Classes/Exercise1/bin/Debug/net5.0/Exercise1.runtimeconfig.dev.json
CSharpIntermediateCourse/Section2/Classes/Exercise1/bin/Debug/net5.0/Exercise1.runtimeconfig.json
CSharpIntermediateCourse/Section2/Classes/Exercise1/bin/Debug/net5.0/ref/Exercise1.dll
CSharpIntermediateCourse/Section2/AccessModifiers/AccessModifiers.csproj
CSharpIntermediateCourse/Section2/AccessModifiers/obj/AccessModifiers.csproj.nuget.dgspec.json
CSharpIntermediateCourse/Section2/AccessModifiers/obj/AccessModifiers.csproj.nuget.g.props
CSharpIntermediateCourse/Section2/AccessModifiers/obj/AccessModifiers.csproj.nuget.g.targets
CSharpIntermediateCourse/Section2/AccessModifiers/obj/project.assets.json
CSharpIntermediateCourse/Section2/AccessModifiers/obj/project.nuget.cache
CSharpIntermediateCourse/Section2/AccessModifiers/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
CSharpIntermediateCourse/Section2/AccessModifiers/obj/Debug/net5.0/AccessModifiers.AssemblyInfo.cs
CSharpIntermediateCourse/Section2/AccessModifiers/obj/Debug/net5.0/AccessModifiers.AssemblyInfoInputs.cache
CSharpIntermediateCourse/Section2/AccessModifiers/obj/Debug/net5.0/AccessModifiers.assets.cache
CSharpIntermediateCourse/Section2/AccessModifiers/obj/Debug/net5.0/AccessModifiers.csproj.AssemblyReference.cache
CSharpIntermediateCourse/Section2/AccessModifiers/obj/Debug/net5.0/AccessModifiers.csproj.CoreCompileInputs.cache
CSharpIntermediateCourse/Section2/AccessModifiers/obj/Debug/net5.0/AccessModifiers.csproj.FileListAbsolute.txt
CSharpIntermediateCourse/Section2/AccessModifiers/obj/Debug/net5.0/AccessModifiers.csprojAssemblyReference.cache
CSharpIntermediateCourse/Section2/AccessModifiers/obj/Debug/net5.0/AccessModifiers.dll
CSharpIntermediateCourse/Section2/AccessModifiers/obj/Debug/net5.0/AccessModifiers.GeneratedMSBuildEditorConfig.editorconfig
CSharpIntermediateCourse/Section2/AccessModifiers/obj/Debug/net5.0/AccessModifiers.genruntimeconfig.cache
CSharpIntermediateCourse/Section2/AccessModifiers/obj/Debug/net5.0/AccessModifiers.pdb
CSharpIntermediateCourse/Section2/AccessModifiers/obj/Debug/net5.0/apphost
CSharpIntermediateCourse/Section2/AccessModifiers/obj/Debug/net5.0/ref/AccessModifiers.dll
CSharpIntermediateCourse/Section2/AccessModifiers/bin/Debug/net5.0/AccessModifiers
CSharpIntermediateCourse/Section2/AccessModifiers/bin/Debug/net5.0/AccessModifiers.deps.json
CSharpIntermediateCourse/Section2/AccessModifiers/bin/Debug/net5.0/AccessModifiers.dll
CSharpIntermediateCourse/Section2/AccessModifiers/bin/Debug/net5.0/AccessModifiers.pdb
CSharpIntermediateCourse/Section2/AccessModifiers/bin/Debug/net5.0/AccessModifiers.runtimeconfig.dev.json
CSharpIntermediateCourse/Section2/AccessModifiers/bin/Debug/net5.0/AccessModifiers.runtimeconfig.json
CSharpIntermediateCourse/Section2/AccessModifiers/bin/Debug/net5.0/ref/AccessModifiers.dll
CSharpIntermediateCourse/Section2/AccessModifiers/.vscode/launch.json
CSharpIntermediateCourse/Section2/AccessModifiers/.vscode/tasks.json
Arrays_and_Lists/Exercise5/Exercise5.csproj
Arrays_and_Lists/Exercise5/obj/Exercise5.csproj.nuget.dgspec.json
Arrays_and_Lists/Exercise5/obj/Exercise5.csproj.nuget.g.props
Arrays_and_Lists/Exercise5/obj/Exercise5.csproj.nuget.g.targets
Arrays_and_Lists/Exercise5/obj/project.assets.json
Arrays_and_Lists/Exercise5/obj/project.nuget.cache
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/apphost
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/Exercise5.AssemblyInfo.cs
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/Exercise5.AssemblyInfoInputs.cache
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/Exercise5.assets.cache
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/Exercise5.csproj.AssemblyReference.cache
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/Exercise5.csproj.CoreCompileInputs.cache
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/Exercise5.csproj.FileListAbsolute.txt
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/Exercise5.csprojAssemblyReference.cache
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/Exercise5.dll
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/Exercise5.GeneratedMSBuildEditorConfig.editorconfig
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/Exercise5.genruntimeconfig.cache
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/Exercise5.pdb
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/ref/Exercise5.dll
Arrays_and_Lists/Exercise5/bin/Debug/net5.0/Exercise5
Arrays_and_Lists/Exercise5/bin/Debug/net5.0/Exercise5.deps.json
Arrays_and_Lists/Exercise5/bin/Debug/net5.0/Exercise5.dll
Arrays_and_Lists/Exercise5/bin/Debug/net5.0/Exercise5.pdb
Arrays_and_Lists/Exercise5/bin/Debug/net5.0/Exercise5.runtimeconfig.dev.json
Arrays_and_Lists/Exercise5/bin/Debug/net5.0/Exercise5.runtimeconfig.json
Arrays_and_Lists/Exercise5/bin/Debug/net5.0/ref/Exercise5.dll
Arrays_and_Lists/Exercise5/.vscode/launch.json
Arrays_and_Lists/Exercise5/.vscode/tasks.json
Arrays_and_Lists/Exercise4/Exercise4.csproj
Arrays_and_Lists/Exercise4/obj/Exercise4.csproj.nuget.dgspec.json
Arrays_and_Lists/Exercise4/obj/Exercise4.csproj.nuget.g.props
Arrays_and_Lists/Exercise4/obj/Exercise4.csproj.nuget.g.targets
Arrays_and_Lists/Exercise4/obj/project.assets.json
Arrays_and_Lists/Exercise4/obj/project.nuget.cache
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/apphost
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/Exercise4.AssemblyInfo.cs
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/Exercise4.AssemblyInfoInputs.cache
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/Exercise4.assets.cache
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/Exercise4.csproj.AssemblyReference.cache
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/Exercise4.csproj.CoreCompileInputs.cache
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/Exercise4.csproj.FileListAbsolute.txt
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/Exercise4.csprojAssemblyReference.cache
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/Exercise4.dll
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/Exercise4.GeneratedMSBuildEditorConfig.editorconfig
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/Exercise4.genruntimeconfig.cache
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/Exercise4.pdb
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/ref/Exercise4.dll
Arrays_and_Lists/Exercise4/bin/Debug/net5.0/Exercise4
Arrays_and_Lists/Exercise4/bin/Debug/net5.0/Exercise4.deps.json
Arrays_and_Lists/Exercise4/bin/Debug/net5.0/Exercise4.dll
Arrays_and_Lists/Exercise4/bin/Debug/net5.0/Exercise4.pdb
Arrays_and_Lists/Exercise4/bin/Debug/net5.0/Exercise4.runtimeconfig.dev.json
Arrays_and_Lists/Exercise4/bin/Debug/net5.0/Exercise4.runtimeconfig.json
Arrays_and_Lists/Exercise4/bin/Debug/net5.0/ref/Exercise4.dll
Arrays_and_Lists/Exercise4/.vscode/launch.json
Arrays_and_Lists/Exercise4/.vscode/tasks.json
Arrays_and_Lists/Exercise3/Exercise3.csproj
Arrays_and_Lists/Exercise3/obj/Exercise3.csproj.nuget.dgspec.json
Arrays_and_Lists/Exercise3/obj/Exercise3.csproj.nuget.g.props
Arrays_and_Lists/Exercise3/obj/Exercise3.csproj.nuget.g.targets
Arrays_and_Lists/Exercise3/obj/project.assets.json
Arrays_and_Lists/Exercise3/obj/project.nuget.cache
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/apphost
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/Exercise3.AssemblyInfo.cs
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/Exercise3.AssemblyInfoInputs.cache
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/Exercise3.assets.cache
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/Exercise3.csproj.AssemblyReference.cache
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/Exercise3.csproj.CoreCompileInputs.cache
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/Exercise3.csproj.FileListAbsolute.txt
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/Exercise3.csprojAssemblyReference.cache
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/Exercise3.dll
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/Exercise3.GeneratedMSBuildEditorConfig.editorconfig
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/Exercise3.genruntimeconfig.cache
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/Exercise3.pdb
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/ref/Exercise3.dll
Arrays_and_Lists/Exercise3/bin/Debug/net5.0/Exercise3
Arrays_and_Lists/Exercise3/bin/Debug/net5.0/Exercise3.deps.json
Arrays_and_Lists/Exercise3/bin/Debug/net5.0/Exercise3.dll
Arrays_and_Lists/Exercise3/bin/Debug/net5.0/Exercise3.pdb
Arrays_and_Lists/Exercise3/bin/Debug/net5.0/Exercise3.runtimeconfig.dev.json
Arrays_and_Lists/Exercise3/bin/Debug/net5.0/Exercise3.runtimeconfig.json
Arrays_and_Lists/Exercise3/bin/Debug/net5.0/ref/Exercise3.dll
Arrays_and_Lists/Exercise3/.vscode/launch.json
Arrays_and_Lists/Exercise3/.vscode/tasks.json
Arrays_and_Lists/Exercise2/Exercise2.csproj
Arrays_and_Lists/Exercise2/obj/Exercise2.csproj.nuget.dgspec.json
Arrays_and_Lists/Exercise2/obj/Exercise2.csproj.nuget.g.props
Arrays_and_Lists/Exercise2/obj/Exercise2.csproj.nuget.g.targets
Arrays_and_Lists/Exercise2/obj/project.assets.json
Arrays_and_Lists/Exercise2/obj/project.nuget.cache
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/apphost
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/Exercise2.AssemblyInfo.cs
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/Exercise2.AssemblyInfoInputs.cache
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/Exercise2.assets.cache
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/Exercise2.csproj.AssemblyReference.cache
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/Exercise2.csproj.CoreCompileInputs.cache
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/Exercise2.csproj.FileListAbsolute.txt
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/Exercise2.csprojAssemblyReference.cache
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/Exercise2.dll
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/Exercise2.GeneratedMSBuildEditorConfig.editorconfig
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/Exercise2.genruntimeconfig.cache
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/Exercise2.pdb
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/ref/Exercise2.dll
Arrays_and_Lists/Exercise2/bin/Debug/net5.0/Exercise2
Arrays_and_Lists/Exercise2/bin/Debug/net5.0/Exercise2.deps.json
Arrays_and_Lists/Exercise2/bin/Debug/net5.0/Exercise2.dll
Arrays_and_Lists/Exercise2/bin/Debug/net5.0/Exercise2.pdb
Arrays_and_Lists/Exercise2/bin/Debug/net5.0/Exercise2.runtimeconfig.dev.json
Arrays_and_Lists/Exercise2/bin/Debug/net5.0/Exercise2.runtimeconfig.json
Arrays_and_Lists/Exercise2/bin/Debug/net5.0/ref/Exercise2.dll
Arrays_and_Lists/Exercise2/.vscode/launch.json
Arrays_and_Lists/Exercise2/.vscode/tasks.json
Arrays_and_Lists/Exercise1/Exercise1.csproj
Arrays_and_Lists/Exercise1/obj/Exercise1.csproj.nuget.dgspec.json
Arrays_and_Lists/Exercise1/obj/Exercise1.csproj.nuget.g.props
Arrays_and_Lists/Exercise1/obj/Exercise1.csproj.nuget.g.targets
Arrays_and_Lists/Exercise1/obj/project.assets.json
Arrays_and_Lists/Exercise1/obj/project.nuget.cache
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/apphost
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/Exercise1.AssemblyInfo.cs
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/Exercise1.AssemblyInfoInputs.cache
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/Exercise1.assets.cache
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/Exercise1.csproj.AssemblyReference.cache
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/Exercise1.csproj.CoreCompileInputs.cache
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/Exercise1.csproj.FileListAbsolute.txt
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/Exercise1.csprojAssemblyReference.cache
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/Exercise1.dll
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/Exercise1.GeneratedMSBuildEditorConfig.editorconfig
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/Exercise1.genruntimeconfig.cache
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/Exercise1.pdb
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/ref/Exercise1.dll
Arrays_and_Lists/Exercise1/bin/Debug/net5.0/Exercise1
Arrays_and_Lists/Exercise1/bin/Debug/net5.0/Exercise1.deps.json
Arrays_and_Lists/Exercise1/bin/Debug/net5.0/Exercise1.dll
Arrays_and_Lists/Exercise1/bin/Debug/net5.0/Exercise1.pdb
Arrays_and_Lists/Exercise1/bin/Debug/net5.0/Exercise1.runtimeconfig.dev.json
Arrays_and_Lists/Exercise1/bin/Debug/net5.0/Exercise1.runtimeconfig.json
Arrays_and_Lists/Exercise1/bin/Debug/net5.0/ref/Exercise1.dll
Arrays_and_Lists/Exercise1/.vscode/launch.json
Arrays_and_Lists/Exercise1/.vscode/tasks.json
/.vscode/*
