Arrays_and_Lists/Exercise5/bin/Debug/net5.0/Exercise5
Arrays_and_Lists/Exercise5/bin/Debug/net5.0/Exercise5.deps.json
Arrays_and_Lists/Exercise5/bin/Debug/net5.0/Exercise5.dll
Arrays_and_Lists/Exercise5/bin/Debug/net5.0/Exercise5.pdb
Arrays_and_Lists/Exercise5/bin/Debug/net5.0/Exercise5.runtimeconfig.dev.json
Arrays_and_Lists/Exercise5/bin/Debug/net5.0/Exercise5.runtimeconfig.json
Arrays_and_Lists/Exercise5/bin/Debug/net5.0/ref/Exercise5.dll
Arrays_and_Lists/Exercise5/obj/Exercise5.csproj.nuget.dgspec.json
Arrays_and_Lists/Exercise5/obj/Exercise5.csproj.nuget.g.props
Arrays_and_Lists/Exercise5/obj/Exercise5.csproj.nuget.g.targets
Arrays_and_Lists/Exercise5/obj/project.assets.json
Arrays_and_Lists/Exercise5/obj/project.nuget.cache
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/apphost
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/Exercise5.AssemblyInfo.cs
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/Exercise5.AssemblyInfoInputs.cache
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/Exercise5.assets.cache
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/Exercise5.csproj.CoreCompileInputs.cache
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/Exercise5.csproj.FileListAbsolute.txt
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/Exercise5.csprojAssemblyReference.cache
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/Exercise5.dll
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/Exercise5.GeneratedMSBuildEditorConfig.editorconfig
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/Exercise5.genruntimeconfig.cache
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/Exercise5.pdb
Arrays_and_Lists/Exercise5/obj/Debug/net5.0/ref/Exercise5.dll
Arrays_and_Lists/Exercise4/bin/Debug/net5.0/Exercise4
Arrays_and_Lists/Exercise4/bin/Debug/net5.0/Exercise4.deps.json
Arrays_and_Lists/Exercise4/bin/Debug/net5.0/Exercise4.dll
Arrays_and_Lists/Exercise4/bin/Debug/net5.0/Exercise4.pdb
Arrays_and_Lists/Exercise4/bin/Debug/net5.0/Exercise4.runtimeconfig.dev.json
Arrays_and_Lists/Exercise4/bin/Debug/net5.0/Exercise4.runtimeconfig.json
Arrays_and_Lists/Exercise4/bin/Debug/net5.0/ref/Exercise4.dll
Arrays_and_Lists/Exercise4/obj/Exercise4.csproj.nuget.dgspec.json
Arrays_and_Lists/Exercise4/obj/Exercise4.csproj.nuget.g.props
Arrays_and_Lists/Exercise4/obj/Exercise4.csproj.nuget.g.targets
Arrays_and_Lists/Exercise4/obj/project.assets.json
Arrays_and_Lists/Exercise4/obj/project.nuget.cache
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/apphost
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/Exercise4.AssemblyInfo.cs
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/Exercise4.AssemblyInfoInputs.cache
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/Exercise4.assets.cache
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/Exercise4.csproj.CoreCompileInputs.cache
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/Exercise4.csproj.FileListAbsolute.txt
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/Exercise4.csprojAssemblyReference.cache
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/Exercise4.dll
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/Exercise4.GeneratedMSBuildEditorConfig.editorconfig
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/Exercise4.genruntimeconfig.cache
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/Exercise4.pdb
Arrays_and_Lists/Exercise4/obj/Debug/net5.0/ref/Exercise4.dll
Arrays_and_Lists/Exercise3/bin/Debug/net5.0/Exercise3
Arrays_and_Lists/Exercise3/bin/Debug/net5.0/Exercise3.deps.json
Arrays_and_Lists/Exercise3/bin/Debug/net5.0/Exercise3.dll
Arrays_and_Lists/Exercise3/bin/Debug/net5.0/Exercise3.pdb
Arrays_and_Lists/Exercise3/bin/Debug/net5.0/Exercise3.runtimeconfig.dev.json
Arrays_and_Lists/Exercise3/bin/Debug/net5.0/Exercise3.runtimeconfig.json
Arrays_and_Lists/Exercise3/bin/Debug/net5.0/ref/Exercise3.dll
Arrays_and_Lists/Exercise3/obj/Exercise3.csproj.nuget.dgspec.json
Arrays_and_Lists/Exercise3/obj/Exercise3.csproj.nuget.g.props
Arrays_and_Lists/Exercise3/obj/Exercise3.csproj.nuget.g.targets
Arrays_and_Lists/Exercise3/obj/project.assets.json
Arrays_and_Lists/Exercise3/obj/project.nuget.cache
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/apphost
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/Exercise3.AssemblyInfo.cs
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/Exercise3.AssemblyInfoInputs.cache
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/Exercise3.assets.cache
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/Exercise3.csproj.CoreCompileInputs.cache
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/Exercise3.csproj.FileListAbsolute.txt
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/Exercise3.csprojAssemblyReference.cache
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/Exercise3.dll
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/Exercise3.GeneratedMSBuildEditorConfig.editorconfig
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/Exercise3.genruntimeconfig.cache
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/Exercise3.pdb
Arrays_and_Lists/Exercise3/obj/Debug/net5.0/ref/Exercise3.dll
Arrays_and_Lists/Exercise2/bin/Debug/net5.0/Exercise2
Arrays_and_Lists/Exercise2/bin/Debug/net5.0/Exercise2.deps.json
Arrays_and_Lists/Exercise2/bin/Debug/net5.0/Exercise2.dll
Arrays_and_Lists/Exercise2/bin/Debug/net5.0/Exercise2.pdb
Arrays_and_Lists/Exercise2/bin/Debug/net5.0/Exercise2.runtimeconfig.dev.json
Arrays_and_Lists/Exercise2/bin/Debug/net5.0/Exercise2.runtimeconfig.json
Arrays_and_Lists/Exercise2/bin/Debug/net5.0/ref/Exercise2.dll
Arrays_and_Lists/Exercise2/obj/Exercise2.csproj.nuget.dgspec.json
Arrays_and_Lists/Exercise2/obj/Exercise2.csproj.nuget.g.props
Arrays_and_Lists/Exercise2/obj/Exercise2.csproj.nuget.g.targets
Arrays_and_Lists/Exercise2/obj/project.assets.json
Arrays_and_Lists/Exercise2/obj/project.nuget.cache
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/apphost
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/Exercise2.AssemblyInfo.cs
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/Exercise2.AssemblyInfoInputs.cache
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/Exercise2.assets.cache
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/Exercise2.csproj.CoreCompileInputs.cache
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/Exercise2.csproj.FileListAbsolute.txt
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/Exercise2.csprojAssemblyReference.cache
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/Exercise2.dll
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/Exercise2.GeneratedMSBuildEditorConfig.editorconfig
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/Exercise2.genruntimeconfig.cache
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/Exercise2.pdb
Arrays_and_Lists/Exercise2/obj/Debug/net5.0/ref/Exercise2.dll
Arrays_and_Lists/Exercise1/bin/Debug/net5.0/Exercise1
Arrays_and_Lists/Exercise1/bin/Debug/net5.0/Exercise1.deps.json
Arrays_and_Lists/Exercise1/bin/Debug/net5.0/Exercise1.dll
Arrays_and_Lists/Exercise1/bin/Debug/net5.0/Exercise1.pdb
Arrays_and_Lists/Exercise1/bin/Debug/net5.0/Exercise1.runtimeconfig.dev.json
Arrays_and_Lists/Exercise1/bin/Debug/net5.0/Exercise1.runtimeconfig.json
Arrays_and_Lists/Exercise1/bin/Debug/net5.0/ref/Exercise1.dll
Arrays_and_Lists/Exercise1/obj/Exercise1.csproj.nuget.dgspec.json
Arrays_and_Lists/Exercise1/obj/Exercise1.csproj.nuget.g.props
Arrays_and_Lists/Exercise1/obj/Exercise1.csproj.nuget.g.targets
Arrays_and_Lists/Exercise1/obj/project.assets.json
Arrays_and_Lists/Exercise1/obj/project.nuget.cache
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/apphost
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/Exercise1.AssemblyInfo.cs
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/Exercise1.AssemblyInfoInputs.cache
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/Exercise1.assets.cache
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/Exercise1.csproj.AssemblyReference.cache
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/Exercise1.csproj.CoreCompileInputs.cache
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/Exercise1.csproj.FileListAbsolute.txt
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/Exercise1.csprojAssemblyReference.cache
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/Exercise1.dll
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/Exercise1.GeneratedMSBuildEditorConfig.editorconfig
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/Exercise1.genruntimeconfig.cache
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/Exercise1.pdb
Arrays_and_Lists/Exercise1/obj/Debug/net5.0/ref/Exercise1.dll
.vscode/launch.json
.vscode/tasks.json
Arrays_and_Lists/Exercise1/.vscode/launch.json
Arrays_and_Lists/Exercise1/.vscode/tasks.json
